html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ul, body {
  padding: 0;
  margin: 0; }

body {
  background-color: #111111;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../media/bg.png");
  font-size: 115%;
  font-family: Century Gothic, sans-serif; }

footer {
  color: #EEEEEE;
  margin: 15px;
  text-align: center; }

a {
  text-decoration: none;
  color: #56A3DF; }

a:hover {
  color: #c1ddf3; }

p {
  line-height: 1.5em;
  letter-spacing: 0.5px; }

.text-align-left {
  text-align: left; }

.wrapper {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 500px) {
    .wrapper {
      margin-top: 35vh; } }
  @media screen and (min-width: 800px) {
    .wrapper {
      margin-top: 50vh; } }

.wrapper-no-margin-top {
  margin-top: 0; }

.section-wrapper {
  min-height: 100vh;
  width: 100%;
  transition: all 100ms linear;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 800px) {
    .section-wrapper {
      padding-left: 40px;
      padding-right: 40px; } }
  .section-wrapper .section {
    margin-left: auto;
    margin-right: auto;
    color: #EEEEEE; }
    .section-wrapper .section .section-header {
      font-size: 35px;
      font-weight: bold;
      font-family: Brandon, sans-serif;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      text-shadow: #3b3b3b 1px 1px 5px;
      transition: font-size 0.3s; }
      @media screen and (min-width: 500px) {
        .section-wrapper .section .section-header {
          font-size: 45px !important; } }
      @media screen and (min-width: 800px) {
        .section-wrapper .section .section-header {
          font-size: 55px !important; } }
    .section-wrapper .section .section-header-small {
      margin-top: 50px;
      font-size: 20px !important;
      text-align: left; }
      @media screen and (min-width: 500px) {
        .section-wrapper .section .section-header-small {
          font-size: 30px !important; } }
      @media screen and (min-width: 800px) {
        .section-wrapper .section .section-header-small {
          font-size: 40px !important; } }
    .section-wrapper .section .top-header {
      margin-top: 100px; }

.section-wrapper:nth-child(odd) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/bg.png"); }

.grid {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  transition: all 100ms linear;
  grid-column-gap: 5px; }
  @media screen and (min-width: 500px) {
    .grid {
      grid-column-gap: 10px !important; } }
  @media screen and (min-width: 800px) {
    .grid {
      grid-column-gap: 20px !important; } }

@media screen and (min-width: 500px) {
  .grid-2-1-1 {
    grid-template-columns: repeat(1, 1fr) !important; } }
@media screen and (min-width: 800px) {
  .grid-2-1-1 {
    grid-template-columns: repeat(2, 1fr) !important; } }

@media screen and (min-width: 500px) {
  .grid-2-2-1 {
    grid-template-columns: repeat(2, 1fr) !important; } }
@media screen and (min-width: 800px) {
  .grid-2-2-1 {
    grid-template-columns: repeat(2, 1fr) !important; } }

@media screen and (min-width: 500px) {
  .grid-3-2-1 {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (min-width: 800px) {
  .grid-3-2-1 {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 500px) {
  .grid-3-1-1 {
    grid-template-columns: repeat(1, 1fr); } }
@media screen and (min-width: 800px) {
  .grid-3-1-1 {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 500px) {
  .grid-3-3-1 {
    grid-template-columns: repeat(3, 1fr) !important; } }
@media screen and (min-width: 800px) {
  .grid-3-3-1 {
    grid-template-columns: repeat(3, 1fr) !important; } }

.grid-3-3-3 {
  grid-template-columns: repeat(3, 1fr) !important; }

#header {
  width: 100%;
  border: none;
  z-index: -1;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  color: #444;
  transition: background-color 0.3s, border-color 0.3s; }
  #header a {
    color: #444; }

.header-large {
  padding: 5vh 0;
  height: 20vh; }
  @media screen and (min-width: 500px) {
    .header-large {
      padding: 10vh 0;
      height: 35vh; } }
  @media screen and (min-width: 800px) {
    .header-large {
      padding: 15vh 0;
      height: 50vh; } }
  .header-large h1, .header-large h4 {
    transition: all 0.1s linear;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: #d4d4d4 2.5px 2.5px 2.5px; }
  .header-large h1 {
    font-size: 150%; }
    @media screen and (min-width: 500px) {
      .header-large h1 {
        font-size: 350% !important; } }
    @media screen and (min-width: 800px) {
      .header-large h1 {
        font-size: 500% !important; } }
  .header-large h4 {
    font-size: 125%; }
    @media screen and (min-width: 500px) {
      .header-large h4 {
        font-size: 150% !important; } }
    @media screen and (min-width: 800px) {
      .header-large h4 {
        font-size: 200% !important; } }
  .header-large #titles {
    text-align: center; }
  .header-large #links {
    display: none; }

.header-small {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  padding: 5px;
  position: fixed;
  z-index: 9999 !important;
  border-bottom: 2px solid #DDD !important;
  background-color: #f7f7f7 !important; }
  @media screen and (min-width: 500px) {
    .header-small {
      grid-template-columns: repeat(2, 1fr); }
      .header-small #links {
        display: flex !important; }
      .header-small #titles {
        justify-content: flex-start !important;
        text-align: left !important; } }
  @media screen and (min-width: 800px) {
    .header-small {
      grid-template-columns: repeat(2, 1fr); }
      .header-small #links {
        display: flex !important; }
      .header-small #titles {
        justify-content: flex-start !important;
        text-align: left !important; } }
  .header-small h1, .header-small h4 {
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: none;
    color: #444 !important; }
  .header-small h1 {
    font-size: 100%;
    padding-top: 5px; }
  .header-small h4 {
    font-size: 75%; }
  .header-small #titles {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .header-small #titles #titles-inner {
      margin-left: 10px;
      text-shadow: #d2d5db 1px 1px 1px;
      transition: font-size 0.5s; }
  .header-small #links {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px; }
    .header-small #links #links-inner a {
      color: #444;
      margin-left: 5px;
      margin-right: 5px;
      transition: font-size 0.5s; }
      .header-small #links #links-inner a:hover {
        color: #5e5e5e; }

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  outline: 0;
  cursor: pointer;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center; }

.modal-content {
  max-width: 1200px;
  margin: 30px;
  outline: 0;
  display: inline-block;
  -webkit-animation: animatezoom;
  animation-name: animatezoom;
  animation-duration: 0.45s; }
  .modal-content img, .modal-content video {
    max-height: 90vh;
    max-width: 100%;
    width: auto;
    height: auto; }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes animateshrink {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }
.read-more-state {
  display: none; }

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease; }

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em; }

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more'; }

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less'; }

.read-more-trigger {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 2em;
  color: #56A3DF; }

.read-more-trigger:hover {
  color: #aeaeae; }

.equal-height {
  background-color: #f6f6f6;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); }
  .equal-height .card {
    border: none;
    box-shadow: none; }

.card {
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
  height: auto;
  color: #111111; }
  .card .card-title {
    border-bottom: 1px solid gainsboro;
    border-radius: 0 0 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .card .card-description {
    font-size: 1em;
    line-height: 1.7em; }
    .card .card-description p {
      margin: 0.75em; }
  .card .card-media {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    cursor: zoom-in; }
    .card .card-media embed, .card .card-media object, .card .card-media iframe, .card .card-media video, .card .card-media img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain; }
  .card .no-zoom {
    cursor: default; }

strong {
  font-weight: bold; }

.button {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 20px;
  padding: 16px;
  margin: 16px 0 0 16px;
  transition: all 20ms ease-out;
  vertical-align: top; }
  .button:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; }
  .button:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2f2f2;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-blue {
  background-color: #4fb4e3;
  background-image: linear-gradient(to bottom, #4fb4e3, #39ade3);
  border: 1px solid #1a81b0;
  box-shadow: inset 0 1px 0 #8bd8fc, inset 0 -1px 0 #329ac9, inset 0 0 0 1px #66bbe3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-blue:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #39ade3;
    box-shadow: inset 0 1px 0 #8bd8fc, inset 0 -1px 0 #329ac9, inset 0 0 0 1px #66bbe3; }
  .button-blue:active {
    color: rgba(255, 255, 255, 0.8);
    background: #39ade3;
    background-image: linear-gradient(to top, #4fb4e3, #39ade3);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-blue .fa {
    color: #1a81b0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-green {
  background-color: #97cc76;
  background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
  border: 1px solid #5f993a;
  box-shadow: inset 0 1px 0 #c6e5b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-green:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #8bcc62;
    box-shadow: inset 0 1px 0 #c6e5b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b; }
  .button-green:active {
    color: rgba(255, 255, 255, 0.8);
    background: #8bcc62;
    background-image: linear-gradient(to top, #97cc76, #8bcc62);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-green .fa {
    color: #5f993a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-purple {
  background-color: #847bba;
  background-image: linear-gradient(to bottom, #847bba, #7568ba);
  border: 1px solid #493e87;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-purple:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #7568ba;
    box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba; }
  .button-purple:active {
    color: rgba(255, 255, 255, 0.8);
    background: #7568ba;
    background-image: linear-gradient(to top, #847bba, #7568ba);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-purple .fa {
    color: #493e87;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-orange {
  background-color: #f58a38;
  background-image: linear-gradient(to bottom, #f58a38, #f57c20);
  border: 1px solid #c25706;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-orange:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f57c20;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851; }
  .button-orange:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f57c20;
    background-image: linear-gradient(to top, #f58a38, #f57c20);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-orange .fa {
    color: #c25706;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-red {
  background-color: #ed6d64;
  background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
  border: 1px solid #ba3329;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-red:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #ed574c;
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b; }
  .button-red:active {
    color: rgba(255, 255, 255, 0.8);
    background: #ed574c;
    background-image: linear-gradient(to top, #ed6d64, #ed574c);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-red .fa {
    color: #ba3329;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button-yellow {
  background-color: #f2d555;
  background-image: linear-gradient(to bottom, #f2d555, #f2d13d);
  border: 1px solid #bfa11d;
  box-shadow: inset 0 1px 0 #ffeea0, inset 0 -1px 0 #d9bb36, inset 0 0 0 1px #f2da6d, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .button-yellow:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2d13d;
    box-shadow: inset 0 1px 0 #ffeea0, inset 0 -1px 0 #d9bb36, inset 0 0 0 1px #f2da6d; }
  .button-yellow:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2d13d;
    background-image: linear-gradient(to top, #f2d555, #f2d13d);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .button-yellow .fa {
    color: #bfa11d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.button .fa {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: -1px 8px 0 -4px;
  vertical-align: top; }

select {
  outline: none;
  border-radius: 3px !important;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 20px;
  padding: 5px;
  max-width: 300px;
  transition: all 20ms ease-out;
  vertical-align: top;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 1.2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 0; }

option {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 0.8em; }
  option:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; }
  option:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2f2f2;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  option .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

input[type=number] {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px 0px 5px 13px !important;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em; }
  input[type=number]:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; }
  input[type=number]:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2f2f2;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  input[type=number] .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

#settings-menu {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  #settings-menu #thinking-container {
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #settings-menu .settings-group {
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 0; }
    #settings-menu .settings-group .settings-group-inner {
      width: 100%; }
      #settings-menu .settings-group .settings-group-inner .settings-item-header {
        display: block;
        font-size: 140%;
        margin-bottom: 30px; }
      #settings-menu .settings-group .settings-group-inner .settings-item-header-small {
        display: block;
        font-size: 100%;
        margin-top: 15px;
        margin-bottom: 5px; }
  #settings-menu .card {
    text-align: left;
    padding: 25px;
    margin-top: 25px; }
    #settings-menu .card .item {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; }
    #settings-menu .card .center {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  height: 25px !important; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto !important;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em;
  cursor: pointer; }
  input[type=range]::-webkit-slider-runnable-track:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; }
  input[type=range]::-webkit-slider-runnable-track:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2f2f2;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  input[type=range]::-webkit-slider-runnable-track .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #4fb4e3;
  cursor: pointer;
  -webkit-appearance: none; }
  input[type=range]::-webkit-slider-thumb:hover {
    background: #65bee6; }
  input[type=range]::-webkit-slider-thumb:active {
    background: #39abdf; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 0 !important;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 20px;
  padding: 16px;
  max-width: 300px;
  transition: all 20ms ease-out;
  vertical-align: top;
  width: 100%;
  max-width: 400px;
  text-align: center; }
  input[type="radio"] + label:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; }
  input[type="radio"] + label:active {
    color: rgba(255, 255, 255, 0.8);
    background: #f2f2f2;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  input[type="radio"] + label .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

input[type="radio"]:checked + label {
  background-color: #4fb4e3;
  background-image: linear-gradient(to bottom, #4fb4e3, #39ade3);
  border: 1px solid #1a81b0;
  box-shadow: inset 0 1px 0 #8bd8fc, inset 0 -1px 0 #329ac9, inset 0 0 0 1px #66bbe3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  input[type="radio"]:checked + label:hover {
    color: rgba(255, 255, 255, 0.9);
    background: #39ade3;
    box-shadow: inset 0 1px 0 #8bd8fc, inset 0 -1px 0 #329ac9, inset 0 0 0 1px #66bbe3; }
  input[type="radio"]:checked + label:active {
    color: rgba(255, 255, 255, 0.8);
    background: #39ade3;
    background-image: linear-gradient(to top, #4fb4e3, #39ade3);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  input[type="radio"]:checked + label .fa {
    color: #1a81b0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=default.css.map */
