@import "variables";


#about {
	max-width: 1200px;
	
	#about-image-outer {
		display: flex;
		align-items: center;

		#about-image {
			max-width: 300px;
			max-height: 300px;
			margin-left: auto;
			margin-right: auto;
			img {
				@include position(relative, 0 null null 0);
				@include size(100%);
				height: auto;
				object-fit: contain;
				border: 5px solid white;
				min-width: 75%;
			}
		}
	}
	
	#about-description {
		display: flex;
		align-items: center;

		p {
			font-size: 1.2em;
			line-height: 1.5em;
			letter-spacing: 1.5px;
			max-height: 500px;
			transition: max-height 0.25s ease-in;
		}
	}
}


#projects {
	max-width: 1400px; //1300px;

	#projects-description {
		margin-bottom: 100px;
	}
}

#projects-wrapper {
	display: block;
}

#knowledge {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.knowledge-square {
		width: 80%;
	    height: 50px;
	    display: inline-block;
	    vertical-align: top;
		margin: 10px;
	}

	.knowledge-content {
		font-size: 110%;
		height: 100%;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    justify-content: center;
	}

	@include media($desktop) {
		max-width: 800px;

		.knowledge-square {
			width: 100px;
			height: 100px;
		}
	}
}


#education {
	max-width: 1200px;
}


#contact {
	max-width: 800px;

	a {
		color: $text-color;
	}

	a:hover {
		color: lighten($link-color, 15%);
	}
}
