@import "bourbon/bourbon";
@import "neat/neat";

@mixin radial-gradient($color1, $color2) {
	background: $color1;
    background: -webkit-radial-gradient($color1, $color2);
    background: -o-radial-gradient($color1, $color2);
    background: -moz-radial-gradient($color1, $color2);
    background: radial-gradient($color1, $color2);
}

// Fixes issues when moving between different sized columns when screen width changes
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}


$desktop: new-breakpoint(min-width 700px);
$small-desktop: new-breakpoint(min-width 500px);

 
$header-bg-color: #fff;
$header-text-color: black;
$header-color: #EEE;
$border-color: #56A3DF;

$bg-color: #111; // Backup
$bg-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg.png');

$img-border-color: #FFFFFF;

$text-color: #EEE;
$a-color: #56A3DF;