@import "bourbon/bourbon";
@import "neat/neat";

@mixin radial-gradient($color1, $color2) {
	background: $color1;
    background: -webkit-radial-gradient($color1, $color2);
    background: -o-radial-gradient($color1, $color2);
    background: -moz-radial-gradient($color1, $color2);
    background: radial-gradient($color1, $color2);
}


$desktop: new-breakpoint(min-width 700px);


$header-bg-color: #fff;
$header-color: #EEE;
$border-color: #56A3DF;

$bg-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bg5.png');
$bg-color: #111; // Backup

$img-border-color: #FFFFFF;

$text-color: #EEE;
$a-color: #56A3DF;