@import "variables";


ul, body {
	padding: 0;
	margin: 0;
	font-family: Century Gothic, sans-serif;
}

body {
	background-color: $bg-color; // Backup
	background-image: $bg-image;

	@include media($desktop) {
		font-size: 115%;
	}
}

footer {
	color: $text-color;
	margin: 15px;
}

a {
	text-decoration: none;
	color: $link-color;
}

a:hover {
	color: lighten($link-color, 25%);
}

.text-align-left {
	text-align: left;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	//padding: 15px;
	width: 100%;
	text-align: center;
}

.section-wrapper {
	min-height: 100vh;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 150px;
	padding-bottom: 150px;
	//border-top: 1px solid darken($link-color, 10%);
	display: flex;
	align-items: center;

	.section {
		margin-left: auto;
		margin-right: auto;
		color: $text-color;

		.section-header {
			@include media($desktop) {
				font-size: 50px;
			}

			font-weight: bold;
			font-family: Brandon, sans-serif;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 2px;
			text-shadow: #d2d5db 1px 1px 1px;
		}
	}
}

.section-wrapper:nth-child(odd) {
	background-image: $bg-image-odd;
}

.grid {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
	@include media($small-desktop) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media($desktop) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid-3 {
	@include media($small-desktop) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media($desktop) {
		grid-template-columns: repeat(3, 1fr);
	}
}


#header {
	display: block;
	margin-top: 0;
	padding-top: 0;
	height: 50vh;
	background-color: $header-bg-color;
	color: $header-text-color;

	h1, h4 {
		padding: 0;
		margin: 0;
		letter-spacing: 2px;
		text-shadow: #d2d5db 1px 1px 1px;
	}

	h1 {
		font-size: 150%;
		padding-top: 10vh;
	}

	h4 {
		font-size: 200%;
	}

	#titles {
		text-align: center;
	}

	@include media($desktop) {
		h1 {
			font-size: 500%;
		}
	}
}


#about {
	max-width: 1200px;
	
	#about-image {
		height: 0; 
		overflow: hidden;
		padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
		position: relative;
		margin-right: 10px;
		margin-left: 10px;


		img {
			@include position(absolute, 0 null null 0);
			@include size(100%);
			object-fit: contain;
		}
	}
	
	

	#about-description > p {
		font-size: 1.2em;
		line-height: 1.5em;
		letter-spacing: 1.5px;
	}
}


#projects {
	max-width: 1300px;

	#projects-description {
		margin-bottom: 100px;
	}
}

#projects-wrapper {
	display: block;
}

#knowledge {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.knowledge-square {
		width: 80%;
	    height: 50px;
	    display: inline-block;
	    vertical-align: top;
		margin: 10px;
	}

	.knowledge-content {
		font-size: 110%;
		height: 100%;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    justify-content: center;
	}

	@include media($desktop) {
		max-width: 800px;

		.knowledge-square {
			width: 100px;
			height: 100px;
		}
	}
}


#education {
	max-width: 1200px;
}


#contact {
	max-width: 800px;

	a {
		color: $text-color;
	}

	a:hover {
		color: lighten($link-color, 15%);
	}
}



#modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	outline: 0;
	cursor: pointer;
	background-color: #000000;
	background-color:rgba(0, 0, 0, 0.5);
	display: none;
}


.modal-content { 
	max-width: 1200px;
	margin: 30px;
	outline: 0;
	display: inline-block;

	-webkit-animation: animatezoom;
	animation-name: animatezoom;
	animation-duration: 0.45s;

	img, video {
		// Responsive media
		max-height: 90vh;
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

@keyframes animatezoom {
	from{transform:scale(0)} 
	to{transform:scale(1)}
}

@keyframes animateshrink {
	from{transform:scale(1)} 
	to{transform:scale(0)}
}


.read-more-state {
  	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease; 
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  	content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  	content: 'Show less';
}

.read-more-trigger {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	font-size: .9em;
	line-height: 2em;
	color: $link-color;
}

.read-more-trigger:hover {
	color: darken($text-color, 25%);
}


.card-outer ~ .equal-height {
	background-color: $card-bg-color;
	border: 1px solid $card-border-color;
	border-radius: $card-border-radius;
	box-shadow: 0 2px 4px darken($card-bg-color, 10%);

	.card {
		border: none;
		box-shadow: none;
	}
}

.card {
	background-color: $card-bg-color;
	border: 1px solid $card-border-color;
	border-radius: $card-border-radius;
	box-shadow: 0 2px 4px darken($card-bg-color, 10%);
	transition: all 0.2s ease-in-out;
	height: auto;
	color: $card-text-color;

	.card-title {
		border-bottom: 1px solid $card-border-color;
		border-radius: $card-border-radius $card-border-radius 0 0;
		font-weight: bold;
		line-height: 1.5em;
		padding: ($card-spacing / 3) ($card-spacing / 2);
		transition: all 0.2s ease-in-out;
	}

	.card-description {
		font-size: 1em;
		line-height: 1.7em;

		p {
			margin: ($card-spacing / 2);
		}
	}

	.card-media {
		height: 0; 
		overflow: hidden;
		padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
		position: relative;
		margin-right: 10px;
		margin-left: 10px;
		cursor: zoom-in;

		embed, object, iframe, video, img {
			@include position(absolute, 0 null null 0);
			@include size(100%);
			object-fit: contain;
		}
	}

	.no-zoom {
		cursor: default;
	}
}
