@import "variables";


/* General */
ul, body {
	padding: 0;
	margin: 0;
	font-family: Century Gothic, sans-serif;
}

body {
	background-color: $bg-color; // Backup
	background-image: $bg-image;

	@include media($desktop) {
		font-size: 115%;
	}
}

footer {
	color: $text-color;
	margin: 15px;
}

a {
	text-decoration: none;
	color: $a-color;
}

a:hover {
	color: lighten($a-color, 25%);
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 100%;
	text-align: center;
}

.main-content {
	margin-top: 200px;
	margin-bottom: 100px;
	color: $text-color;

	h1 {
		font-weight: bold;
		font-family: Brandon, sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		text-shadow: #d2d5db 1px 1px 1px;
	}

	@include media($desktop) {
		h1 {
			font-size: 50px;
		}
	}
}



#header {
	display: block;
	margin-top: 0;
	padding-top: 0;
	height: 50vh;
	background-color: $header-bg-color;
	color: $header-text-color;

	h1, h4 {
		padding: 0;
		margin: 0;
		letter-spacing: 2px;
		text-shadow: #d2d5db 1px 1px 1px;
	}

	h1 {
		font-size: 150%;
		padding-top: 10vh;//50px;
	}

	h4 {
		font-size: 200%;
	}

	#titles {
		text-align: center;
	}

	@include media($desktop) {
		h1 {
			font-size: 500%;
		}
	}
}



#about {
	@include outer-container(100%);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
	img {
		display: block;
		margin: 0 auto;
		border: 6px solid $img-border-color;
		text-align: middle;
	}
	
	.about-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
		}
	}
}



#projects {

	@include outer-container(100%);
	max-width: 1000px;

	.project {

		@include span-columns(12);
		
		@include media($small-desktop) {
			@include span-columns(6);
			@include omega-reset(3n);
			@include omega(2n);
		}
		
		@include media($desktop) {
			@include span-columns(4);
			@include omega-reset(2n);
			@include omega(3n);
		}
		

		$base-border-color: gainsboro !default;
		$base-border-radius: 3px !default;
		$base-background-color: white !default;
		$base-spacing: 1.5em !default;

		$action-color: #477DCA !default;
		$dark-gray: #333 !default;
		$base-font-color: $dark-gray !default;

		$card-border-color: $base-border-color;
		$card-border: 1px solid $card-border-color;
		$card-background: lighten($card-border-color, 10%);
		$card-header-background: $card-background;
		$card-margin: 1em;
		$card-image-hover-opacity: 0.7;
		$card-image-hover-color: #F8F2B4;

		background-color: $card-background;
		border: $card-border;
		border-radius: $base-border-radius;
		box-shadow: 0 2px 4px darken($base-background-color, 10%);
		position: relative;
		transition: all 0.2s ease-in-out;
		margin-top: 20px;

		.project-title {
			background-color: $card-header-background;
			border-bottom: $card-border;
			border-radius: $base-border-radius $base-border-radius 0 0;
			font-weight: bold;
			line-height: 1.5em;
			padding: ($base-spacing / 3) ($base-spacing / 2);
			transition: all 0.2s ease-in-out;
		}

		.project-description {
			font-size: 0.9em;
			line-height: 1.5em;

			p {
				margin: ($base-spacing / 2);
			}
		}

		.project-media {
			height: 0;
			overflow: hidden;
			padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
			position: relative;
			margin-right: 10px;
			margin-left: 10px;
			background-color: black;
			cursor:zoom-in;

			embed, object, iframe, video {
				@include position(absolute, 0 null null 0);
				@include size(100%);
			}

			img {
				max-width: 100%;
    			height: auto;
			}
		}
	}
}



#knowledge {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.knowledge-square {
		width: 80%;
	    height: 50px;
	    display: inline-block;
	    vertical-align: top;
		margin: 10px;
	}

	.knowledge-content {
		font-size: 110%;
		height: 100%;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    justify-content: center;
	}

	@include media($desktop) {
		max-width: 800px;

		.knowledge-square {
			width: 100px;
			height: 100px;
		}
	}
}



#education {
	@include outer-container(100%);
	max-width: 800px;

	.education-header {
		font-size: 135%;
	}

	.education-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
		}
	}
}



#contact {
	@include outer-container(100%);
	max-width: 800px;

	a {
		color: $text-color;
	}

	a:hover {
		color: darken($text-color, 25%);
	}

	.contact-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(4);
		}
	}
}


#modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	outline: 0;
	cursor: pointer;
	background-color: #000000;
	background-color:rgba(0, 0, 0, 0.5);
	display: none;
	padding-top: 100px;
}


.modal-content { 
	max-width: 1200px;
	margin: 30px;
	outline: 0;
	display: inline-block;

	-webkit-animation: animatezoom;
	animation: animatezoom;
	animation-duration: 0.45s;

	img, video {
		width: 100%;
	}
}

@keyframes animatezoom {
	from{transform:scale(0)} 
	to{transform:scale(1)}
}


.read-more-state {
  	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  	content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  	content: 'Show less';
}

.read-more-trigger {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	font-size: .9em;
	line-height: 2;
	border: 1px solid #ddd;
	border-radius: .25em;
}

.read-more-trigger:hover {
	color: darken($text-color, 25%);
}