@import "variables";


/* General */
ul, body {
	padding: 0;
	margin: 0;
	font-family: Century Gothic, sans-serif;
}

body {
	background-color: $bg-color; // Backup
	background-image: $bg-image;

	@include media($desktop) {
		font-size: 115%;
	}
}

footer {
	color: $text-color;
	margin: 15px;
}

a {
	text-decoration: none;
	color: $a-color;
}

a:hover {
	color: lighten($a-color, 25%);
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.main-content {
	margin-top: 200px;
	margin-bottom: 100px;
	color: $text-color;

	h1 {
		font-weight: bold;
		
		font-family: Brandon, sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		text-shadow: #d2d5db 1px 1px 1px;
	}

	@include media($desktop) {
		h1 {
			font-size: 50px;
		}
	}
}



#header {
	display: block;
	margin-top: 0;
	padding-top: 0;
	height: 50vh;
	background-color: $header-bg-color;
	color: black;

	h1, h4 {
		padding: 0;
		margin: 0;
		letter-spacing: 2px;
		text-shadow: #d2d5db 1px 1px 1px;
	}

	h1 {
		font-size: 150%;
		padding-top: 30vh;
	}

	h4 {
		font-size: 200%;
	}

	#titles {
		text-align: center;
	}

	@include media($desktop) {
		h1 {
			font-size: 500%;
		}
	}
}



#about {
	@include outer-container(100%);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
	img {
		display: block;
		margin: 0 auto;
		border: 6px solid $img-border-color;
		text-align: middle;
	}
	
	.about-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
		}
	}
}



#projects {

	@include outer-container(100%);
	max-width: 1000px;

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card {
		$base-border-color: gainsboro !default;
		$base-border-radius: 3px !default;
		$base-background-color: white !default;
		$base-spacing: 1.5em !default;
		$action-color: #477DCA !default;
		$dark-gray: #333 !default;
		$base-font-color: $dark-gray !default;
		$card-border-color: $base-border-color;
		$card-border: 1px solid $card-border-color;
		$card-background: lighten($card-border-color, 10%);
		$card-header-background: $card-background;
		$card-margin: 1em;
		$card-image-hover-opacity: 0.7;
		$card-image-hover-color: #F8F2B4;

		background-color: $card-background;
		border: $card-border;
		border-radius: $base-border-radius;
		box-shadow: 0 2px 4px darken($base-background-color, 10%);
		cursor: pointer;
		flex-basis: 15em;
		flex-grow: 1;
		margin: 1em $card-margin 0 $card-margin;
		position: relative;
		transition: all 0.2s ease-in-out;

		.card-image {
			background-color: black;
			overflow: hidden;

			img {
				@include border-top-radius($base-border-radius);
				opacity: 1;
				transition: all 0.2s ease-in-out;
				width: 100%;
			}
		}

		.card-header {
			background-color: $card-header-background;
			border-bottom: $card-border;
			border-radius: $base-border-radius $base-border-radius 0 0;
			font-weight: bold;
			line-height: 1.5em;
			padding: ($base-spacing / 3) ($base-spacing / 2);
			transition: all 0.2s ease-in-out;
		}

		.card-copy {
			font-size: 0.9em;
			line-height: 1.5em;
			padding: ($base-spacing / 2) ($base-spacing / 2);

			p {
				margin: 0 0 ($base-spacing / 2);
			}
		}
	}


	.video {
		margin-left: auto;
		margin-right: auto;
		
		.video-wrapper {
			height: 0;
			overflow: hidden;
			padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
			position: relative;
			margin-right: 10px;
			margin-left: 10px;

			embed, object, iframe {
				@include position(absolute, 0 null null 0);
				@include size(100%);
			}
		}

		@include media($desktop) {
			max-width: 840px;
		}
	}

	.project {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
		}
	}
}



#knowledge {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.knowledge-square {
		width: 80%;
	    height: 50px;
	    display: inline-block;
	    vertical-align: top;
		margin: 10px;
	}

	.knowledge-content {
		font-size: 110%;
		height: 100%;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    justify-content: center;
	}

	@include media($desktop) {
		max-width: 800px;

		.knowledge-square {
			width: 100px;
			height: 100px;
		}
	}
}



#education {
	@include outer-container(100%);
	max-width: 800px;

	.education-header {
		font-size: 135%;
	}

	.education-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
		}
	}
}



#contact {
	@include outer-container(100%);
	max-width: 800px;

	a {
		color: $text-color;
	}

	a:hover {
		color: darken($text-color, 25%);
	}

	.contact-content {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(4);
		}
	}
}
